<div class="panel panel-primary"
     ng-controller="TitleListCtrl as vm">
    <div class="panel-heading"
         style="font-size:large">
        Title List
    </div>

    <div class="panel-body">
        <table class="table-responsive">

            <thead>
                <tr>
                    <td>Title Name </td>
                </tr>
            </thead>
            <tbody>
                <tr><td>Search: <input type="text" ng-model="searchIt" /></td></tr>
                <tr ng-repeat="title in vm.titles | filter: searchIt">
                    <td>
                        <a href="#" ng-click="showDetails = ! showDetails">{{ title.titleName}}</a>
                        <div class="procedure-details" ng-show="showDetails">
                            <h5>Movie Details</h5>
                            <ul>
                                <li>Name - {{title.titleName}}</li>
                                <li>Released Year - {{title.releaseYear}}</li>
                                <li>Processed Date - {{title.processedDateTimeUTC | date: timezone}}</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>